.countries {
  display: flex;
}

.countries--second .country {
  padding: 0.5em;
}

/* Add your own CSS code below */

.countries--third {
  flex-direction: column;
  justify-content: flex-end;
}

.countries--fourth {
  flex-direction: column-reverse;
  justify-content: space-between;
}
